body{
	font-family: 'Inter', sans-serif;
	margin: 0% 4%;
		
}
.textcontainer {
	background-color: #F5FBF7;
}
.text {
	margin: 2%;
}

ul {
	display: flex;
	list-style: none; 
	
}

li{
	margin: 0% 3% 0% ; 
}
a:link, a:visited{
	text-decoration: none;
	color: currentcolor;
}

.oben {
    justify-content: flex-start;
    padding-top: 0%;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
}
.nav2 {
    padding: 10px;
    background-color:#AAB9AD;
}
#s, #a, #ag {
	font-size: 15px;
}
.bild {
	display: flex;
	align-items: baseline;
	flex-wrap: nowrap;
	width: 100%;
}
.copyright {
	display: flex;
}