.mapouter{
	padding:  0 0 0 2%;
}
body{
     font-family: 'Inter', sans-serif;
      margin: 0% 5% 4% 5%;

  }
p {
	font-size: 90%;
	
}
.div {
	font-size: 15px;
}
  .textcontainer {
      background-color: #F5FBF7;
  }
  .text {
	  padding: 0% 1% ;
  }

  ul {
      display: flex;
      list-style: none; 

  }

  li{
      margin: 0% 3% 0% ; 
  }
  a:link, a:visited{
      text-decoration: none;
      color: currentcolor;
  }

  .oben {
      justify-content: flex-start;
      padding-top: 0%;
      padding-right: 0%;
      padding-left: 0%;
      padding-bottom: 0%;
  }
  .nav2 {
      padding: 10px;
      background-color:#A3F8EF;
  }
  #s, #a, #ag {
      font-size: 15px;
  }
  .bild {
      display: flex;
      align-items: baseline;
      flex-wrap: nowrap;
      width: 100%;
  }
 .copyright {
      text-align: center;

	 
}

#imp {
	text-align: left;
	font-size: 14px;
}
.werbung, .werbung2 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 80%;
}
.arznei {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	padding: 1%;
}
.unserteam{
	  position: relative;
  	width: 50%;

}

.schmerzen {
	box-shadow: lightgrey 0.5px 0.5px 0.5px 0.5px;
	padding: 2%;
	margin: 2%;
	background-color: white;
	
}
.medi {
	box-shadow: lightgrey 0.5px 0.5px 0.5px 0.5px;
	padding: 2%;
	margin: 2%;
	background-color: white;
	width: 500px;
	
}
.ueberschrift{
	font-size: 30px;
	margin-bottom: -2%;
	padding-top: 10%;
	margin-top: 5%;
}
.text2{
	padding: 1%;
	margin: 0 20% 0 0;
	line-height: 20px;
	
}

.beschreibungp1 {
	position: absolute;
  top: -1;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 500ms ease;
  background-color: white ;
	width: 40%
}

.p1{
	display: block;
  height: auto;
	margin-top: 10%;
}
.team1:hover .beschreibungp1 {
  opacity: 1;
}

#hyper:hover {
	width:300px;
    height:300px;
}

#pulmo:hover {
	width:300px;
    height:300px;
}
#prost:hover {
	width:300px;
    height:300px;
}
#umc:hover {
	width:300px;
    height:300px;
}

#babix:hover {
	width:300px;
    height:300px;
}
#sinus:hover {
	width:300px;
    height:300px;
}
#femi:hover {
	width:300px;
    height:300px;
}

#calm:hover {
	width:300px;
    height:300px;
}

#bilan:hover {
	width:300px;
    height:300px;
}

.tabelle {
	padding: 3%;
	text-align: left;
	
}
.td {
	padding-left: 3%;
}

.bildzuarznai {
	padding: 3%;
}

.footer {
	margin: 5% 0% 5% 0%;
	padding: 1% 3% 1% 1% ;
	background-color: #A3F8EF;
	flex-direction:row;
}

.formular {
	padding-left: 3%;
}

